
<div *ngIf="bUS">
    <h2><span>BUS</span> {{bUS.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>C Apacity</span></dt>
        <dd>
            <span>{{bUS.cApacity}}</span>
        </dd>
        <dt><span>R Egistration Number</span></dt>
        <dd>
            <span>{{bUS.rEgistrationNumber}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'bus/'+ bUS.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
