<div>
    <h2>
        <span>PHY SITES</span>
        <button class="btn btn-primary float-right jh-create-entity create-phy-site" [routerLink]="['/', { outlets: { popup: ['phy-site-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new PHY SITE
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="pHY_SITES">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>A Ddress Line 1</span></th>
            <th><span>A Ddress Line 2</span></th>
            <th><span>A Ddress Line 3</span></th>
            <th><span>P Ostcode</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let pHY_SITE of pHY_SITES ;trackBy: trackId">
                <td><a [routerLink]="['../phy-site', pHY_SITE.id ]">{{pHY_SITE.id}}</a></td>
                <td>{{pHY_SITE.aDdressLine1}}</td>
                <td>{{pHY_SITE.aDdressLine2}}</td>
                <td>{{pHY_SITE.aDdressLine3}}</td>
                <td>{{pHY_SITE.pOstcode}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../phy-site', pHY_SITE.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'phy-site/'+ pHY_SITE.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'phy-site/'+ pHY_SITE.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
